{% extends 'adminlte2/components/header_top_navigation.html' %}

{% load adminlte2_tags %}

{% block logo_lg %}<b>Joke</b>ability{% endblock logo_lg %}

{% block header_items_left %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i>&nbsp; Categories</a>
        <ul class="dropdown-menu">
            {% for cat in categories %}
                <li class="{% add_active 'jokes:categories' cat|lower %}">
                    <a href="{% url 'jokes:categories' cat|lower %}">{{ cat }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <a href="{% url 'top_jokers' %}"><i class="fa fa-thumbs-up"></i>&nbsp; Top Jokers</a>
    </li>
{% endblock header_items_left %}

{% block header_items_right %}

    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'users:details' user.username %}">
                {{ user.username }}: Joke Profile
            </a>
        </li>
        <li>
            <a href="{% url 'submit_joke' %}">
                <i class="fa fa-book"></i>&nbsp;
                Submit Joke
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}">
                <i class="fa fa-sign-out"></i>&nbsp;
                Sign Out
            </a>
        </li>
    {% else %}
        <li><a href="{% url 'login' %}">
            <i class="fa fa-sign-in"></i>&nbsp;
            Sign In
        </a></li>
        <li><a href="{% url 'register' %}">
            <i class="fa fa-user-plus"></i>&nbsp;
            Register
        </a></li>
    {% endif %}
{% endblock header_items_right %}
