{% extends 'list_base.html' %}

{% load static %}

{% block title %}Top Jokers: Jokeability{% endblock title %}

{% block page_title %}<b>Top Jokers</b>{% endblock page_title %}

{% block content %}
    {% csrf_token %}

    {% for joker in page_obj %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    #{{ forloop.counter }}
                    <a href="{% url 'users:details' joker.joker.username %}">
                        {{ joker.joker.username }}
                    </a>
                </h3>
            </div>
            <div class="box-body">
                <p><b>Jokeability</b>: {% widthratio joker.jokeability 1 100.0 %}%</p>
                <p><b>Total thumbs up</b>: {{ joker.thumbs_up }}</p>
                <p><b>Total thumbs down</b>: {{ joker.thumbs_down }}</p>
            </div>
            <div class="box-footer">
                <small>Last rating date {{ joker.created_date }}</small>
            </div>
        </div>
    {% endfor %}

    <div class="text-center">

        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}

            <li class="disabled"><a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
            {% endif %}
        </ul>
    </div>

{% endblock content %}
