{% extends 'adminlte2/layouts/login.html' %}

{% block title %}Login :: Jokeability{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <style>
        form p {
            text-align: center;
        }
    </style>
{% endblock stylesheets %}

{% block login_logo_text %}
    <b>Joke</b>ability
{% endblock login_logo_text %}

{% block login_form %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button class="btn btn-primary" type="submit">Login</button>
            <button class="btn btn-warning" type="reset">Clear</button>
        </p>
    </form>
{% endblock login_form %}
