{% extends 'adminlte2/layouts/register.html' %}

{% block title %}Register :: Jokeability{% endblock title %}

{% block register_logo_text %}
    <b>Joke</b>ability
{% endblock register_logo_text %}

{% block register_form %}
    <form method="POST">
        {% csrf_token %}

        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                <br>
                {{ field }}
                {% if field.help_text %}
                    <small class="help-block">{{ field.help_text }}</small>
                {% endif %}

            </div>
        {% endfor %}

        <p>
            <button class="btn btn-primary" type="submit">Register</button>
            <button class="btn btn-warning" type="reset">Clear</button>
        </p>
    </form>
{% endblock register_form %}
