{% extends 'adminlte2/layouts/top_navigation.html' %}

{% block no_breadcrumbs %}
{% endblock no_breadcrumbs %}

{% block footer_template %}
{% endblock footer_template %}

{% block title %}Submit Joke :: Jokeability{% endblock title %}

{% block page_title %}Submit Joke{% endblock page_title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                <br>
                {{ field }}
                {% if field.help_text %}
                    <small class="help-block">{{ field.help_text }}</small>
                {% endif %}

            </div>
        {% endfor %}
        <p>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-warning" type="reset">Clear</button>
        </p>
    </form>
{% endblock content %}
