{% csrf_token %}

{% for joke in page_obj %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ joke.title }}
                <small>{{ joke.category }}</small>
            </h3>
        </div>
        <div class="box-body">
            <p>{{ joke.joke|linebreaks }}</p>
            <br>
            <p class="rating">
                {% if user.is_authenticated %}
                    <button class="btn btn-default thumbs-up" title="Thumbs Up"><span class="count">#</span> <i class="fa fa-thumbs-o-up"></i></button>
                    <button class="btn btn-default thumbs-down" title="Thumbs Down"><span class="count">#</span> <i class="fa fa-thumbs-o-down"></i></button>
                {% else %}
                    <button class="btn btn-default thumbs-up" title="Thumbs Up" disabled="disabled"><span class="count">#</span> <i class="fa fa-thumbs-o-up"></i></button>
                    <button class="btn btn-default thumbs-down" title="Thumbs Down" disabled="disabled"><span class="count">#</span> <i class="fa fa-thumbs-o-down"></i></button>
                {% endif %}
                <input type="hidden" value="{{ joke.pk }}">
            </p>
        </div>
        <div class="box-footer">
            <small>Joke by <a href="{% url 'users:details' joke.sender.username %}"><b>{{ joke.sender.username }}</b></a>. Submitted{{ joke.modified_date }}.</small>
        </div>
    </div>
{% endfor %}

<div class="text-center">

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
        {% endif %}

        <li class="disabled"><a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
        {% endif %}
    </ul>
</div>
